@page "/Api/Reservas"
@using Proyecto_LaGranSiete.Client.Servicios
@inject IHTTPServicio http
@using Proyecto_LaGranSiete.BD.Data.Entity

<h3>lista de reservas ralizadas</h3>
<table>

   <tr>
       <th>Fecha y hora de la reserva</th>
       <th>Duración del alquiler</th>
       <th>Monto</th>
       <th>Método de pago</th>
       <th>Estado de la reserva</th>
   </tr>

    @foreach (var item in listaReserva)
    {
        <tr>
            <td>@item.FechaHoraReserva</td>
            <td>@item.DuracionAlquiler</td>
            <td>@item.Monto</td>
            <td>@item.MetodoPago</td>
            <td>@item.EstadoReserva</td>
        </tr>
    }

</table>

@code {
    List<Reserva> listaReserva;
}
